body {
  font-family: Arial, sans-serif;
  background: #f1f5f9;
}

.container {
  width: 350px;
  margin: 80px auto;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
}

h2 {
  text-align: center;
}

input, button {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
}

button {
  background: #2563eb;
  color: white;
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #2563eb;
}
/* USER PROFILE */
.user-profile {
  padding: 40px;
  display: flex;
  justify-content: center;
}

.profile-container {
  background: #ffffff;
  display: flex;
  align-items: center;
  gap: 25px;
  padding: 25px 35px;
  border-radius: 16px;
  max-width: 600px;
  width: 100%;
  box-shadow: 0 15px 30px rgba(0,0,0,0.15);
}

.profile-image img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #2563eb;
}

.profile-info h3 {
  margin: 0;
  font-size: 22px;
  color: #1f2937;
}


.profile-info p {
  margin: 6px 0 15px;
  color: #6b7280;
}

.btn-upload {
  background: #2563eb;
  color: white;
  padding: 10px 18px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  display: inline-block;
}

.btn-upload:hover {
  background: #1e40af;
}
.yves {
  max-width:900px;
  margin:30px auto;
  background: rgba(0,0,0,0.6); /* semi-transparent container */
  padding:20px;
  border-radius:10px;
  box-shadow:0 5px 15px rgba(0,0,0,0.4);
}